[2016-01-23 16:00] evgenyrodionov opened #5 "Safari Mac Pressure sometimes not working"
![image](https://cloud.githubusercontent.com/assets/775692/12531078/81091022-c203-11e5-94b4-6bc5a7df076a.png)

[2016-01-23 16:17] yamartino commented on #5
@theaqua thanks for bringing this to my attention. So you are testing on your trackpad on your laptop that has force touch? I have an external trackpad and sometimes I forget and use what which doesn't work obviously, but I just want to make sure. When you refresh safari and try again does it fail every time? Do any of the examples work?

[2016-01-23 17:04] theaqua commented on #5
@yamartino yep, it's trackpad on a laptop, I don't have external one or mouse. It fails every time, examples don't work :(

[2016-01-23 18:08] yamartino commented on #5
@theaqua try restarting Safari, there is a bug in Safari that I have tried to alert Apple about. If Safari is open for too long sometimes their pressure events stop working. Thanks for helping me out! Let me know if that works :)

[2016-01-24 06:37] theaqua commented on #5
You're right! Thanks, you give me an answer why Quick Look suddenly stops working.

[2016-01-25 13:36] albinekb opened #6 "Status of Force Touch in Chrome?"
Hello, do you have any idea on if/when chrome will support force touch on os x?

[2016-01-25 16:08] yamartino commented on #6
@albinekb it looks like there is a feature request for Chrome to add Force Touch feature support on OSX: https://code.google.com/p/chromium/issues/detail?id=481890

However, that is only to add things like force touching a word to look it up in the dictionary, I have seen no word on Chrome adding support for web interactions yet. Hopefully there will eventually be support, and when/if they do, pre

[2016-01-25 16:11] albinekb commented on #6
@yamartino yeah it's sad they haven't added it yet, and it looks like they're not planning to (?)
So much awesome stuff could be built!

[2016-01-26 01:20] #6 closed

[2016-01-26 16:44] yamartino opened #8 "Throw nice error message if jQuery is not defined"

[2016-01-26 23:42] yamartino commented on #8
https://github.com/yamartino/pressure/commit/eb5699553d50f34a8cd327169c6f982947eea10b

[2016-01-26 23:42] #8 closed

[2016-01-27 02:29] kylehalleman opened #9 "Add documentation for the `css` parameter of public methods"
I noticed you add a `user-select: none;` rule to the Pressure element, which prevents users from being able to select text. Hammer.js does this as well, but [explains in the docs](http://hammerjs.github.io/tips#quot-i-can-39-t-select-my-text-anymore-quot) why they do it, what the benefits are, and also gives developers a way to disable that functionality.

If you pass `false` as the third paramete

[2016-01-27 03:49] yamartino commented on #9
@kylehalleman good digging through the code ;) you are exactly right I forgot to add those in the docs. Im working on v0.0.4 right now and will make sure to include that in the docs. I also added webkit-touch-callout:none; to prevent the "peek and pop" feature on the iPhone 6s. Thanks for the reminder and I really greatly appreciate the feedback!

[2016-01-28 17:04] yamartino opened #10 "Add the option to disable the "prevent default" on mac, and how that works with iOS"

[2016-01-28 19:16] yamartino opened #11 "Should a force / event be passed back to every function?"
for example:
[code]
at the very least maybe the event should be passed back

[2016-01-28 19:16] yamartino opened #12 "Can pressure be used on the canvas?"
Should / could support be added to use pressure with the canvas and canvas objects?

[2016-01-29 04:31] yamartino opened #13 "Mouse leave on Mac does not trigger the "end" block as it should"

[2016-01-29 04:34] yamartino commented on #13
This is broken in branch: dev-v0.0.4

[2016-01-29 04:35] yamartino commented on #10
Adding support in branch: dev-v0.0.4

[2016-01-29 04:41] yamartino commented on #11
I think this only makes sense on certain ones, the force value will always be a set value on start, end, startDeepPress, and endDeepPress which I am not sure if that is useful or not. For example start and end will always be 0 and the deep press events will always be 0.5.

For events, I could pass back events on everything except the "end" method because there is no event to be handled there.

I s

[2016-01-29 04:50] yamartino commented on #12
Someone made the suggestion with this to add another closure that would be called on mouse or touch move. Maybe a "move" function. I guess I can see this being useful for the canvas, if you had something along the lines of:

Pressure.set('canvas', {
    move: function(force, event){
        // this would return the current force value whenever the mouse or touch move
    }
});

[2016-01-29 04:53] yamartino commented on #12
Im pretty sure there is no way to connect pressure up to an "object" on the canvas, like a circle for example, I don't think I would have a way of getting just a force value on that circle.

[2016-01-29 04:59] yamartino commented on #13
FIxed here: https://github.com/yamartino/pressure/commit/cdcb59bc6936869b5b19e67f9657b0ad4c682bae

[2016-01-29 05:00] #13 closed

[2016-01-29 05:17] yamartino commented on #10
This option was implemented here: https://github.com/yamartino/pressure/commit/6f75b8781320f3d59cbd7445966b6c5797ccd59d

[2016-01-29 05:17] #10 closed

[2016-01-29 05:19] yamartino commented on #12
This will not be added in v0.0.4 but possibly in a future release

[2016-01-30 00:27] yamartino opened #14 "The events do not fire in order cascading up and down the force line"
Sometimes "change" is called once before "start" and on leave "endDeepPress" is called after the "end" method. Make sure they go in order of:

-start
-change
-startDeepPress
-change
-endDeepPress
-change
-end

[2016-01-30 01:02] yamartino commented on #11
"force" is still only passed back on the "change" methods.

However the "event" of the click or touch is pass back into the "start", "startDeepPress",  and "endDeepPress" functions.

Added in this commit: https://github.com/yamartino/pressure/commit/4beade1b2233293242f62d6e3f922f4098408aad

[2016-01-30 01:02] #11 closed

[2016-01-30 01:29] yamartino commented on #14
Fixed this in the following commits:
https://github.com/yamartino/pressure/commit/f41064dc3e109b1b1852fe334ca519872c154e39
https://github.com/yamartino/pressure/commit/d66979feb81c846b2100100c691fa011de9aeebc
https://github.com/yamartino/pressure/commit/50344f9ee87db84992e1cc7ae321f2b8847a2aaf

[2016-01-30 01:29] #14 closed

[2016-02-05 15:53] kylehalleman opened #15 "Chrome Android and OSX device emulation mode register touches as deep/force press"
Steps to reproduce:

Open pressurejs.com in Chrome on OSX and in DevTools turn on device emulation and set it to iPhone 6. Scroll to bottom and tap on test 5 and the pop up that should only trigger with a force touch displays.

Same results on Chrome Android using a Samsung Galaxy S4 and Nexus 5. On Nexus 5 all the tests get triggered.

[2016-02-05 20:46] yamartino commented on #9
This is going to be released in the next version of the gh-pages branch, now it is a "preventDefault" option on v0.0.4

[2016-02-05 20:46] #9 closed

[2016-02-05 20:53] yamartino commented on #15
@kylehalleman thanks for this, I can confirm that this does happen in the device emulator in Chrome. Ill have to dig into this!

[2016-02-05 20:56] yamartino commented on #15
@kylehalleman I appreciate all of the feedback and testing you have done so far with Pressure! Are you planning on using Pressure for an upcoming project? Just curious about your interest in Pressure :smiley:

[2016-02-05 23:52] kylehalleman commented on #15
@yamartino I've been interested in adding 3D touch to a web app I'm working on at my day job, just playing around with some ideas. I tried using variations of [this code](https://github.com/freinbichler/3d-touch) but it never seemed to work right, so I gave up. That's where I first ran into this Chrome bug.

But then I heard about this project on 5 Minutes of JavaScript podcast, so I've been playi

[2016-02-06 06:49] yamartino commented on #15
@kylehalleman thanks for the feedback! I can confirm that all of the devices you mentioned trigger false results when using the Chrome emulator. However for example running Chrome on my actual iPhone 6, it does not trigger those results. It seems like that specifically is only a emulator issue.

Also the chrome emulator running Samsung Galaxy S4 and Nexus 5 do get the same false results. However a

[2016-02-06 16:21] kylehalleman commented on #15
@yamartino They're actual devices. I only had deep press set, and pretty much every tap (or swipe even) triggered the deep press.

[2016-02-06 18:57] kylehalleman commented on #15
@yamartino I found [this repo](https://github.com/Huxpro/forcify) that seems to mention the odd Chrome behavior. [Check out this section](https://github.com/Huxpro/forcify/blob/eea14d5bc62a545d02f0309756a9895d7239b005/src/touch.js#L28) of the code and also [here](https://github.com/Huxpro/forcify/blob/eea14d5bc62a545d02f0309756a9895d7239b005/src/forcify.js#L154).

[2016-02-06 18:59] yamartino commented on #15
@kylehalleman I think I fixed the bug in the "dev-v0.0.4" branch. Here is the commit that fixed it: https://github.com/yamartino/pressure/commit/05c290856b6902feab4d6651256d4cc5663b0109

I would love if you could try the development version and see if that fixes it! Thanks for all of the help @kylehalleman

If it works for you I will close the issue :smile:

[2016-02-07 00:41] #15 closed

[2016-02-07 01:14] yamartino commented on #12
As mentioned above you can attach Pressure to the canvas to handle force values. I'm gonna close this issue for now unless someone has some other needs on the canvas.

[2016-02-07 01:14] #12 closed

[2016-02-24 03:53] dodekeract opened #18 "Pressure Is Not Supported On iPhone 6S Plus"
Just wanted to let you know, that I can let that button on the website say "not supported", when pressing very very lightly on an iPhone 6S Plus. I guess that's related to the force actually being 0.0000. I suggest to change the check from (I assume) `if (force)` to `if (force == null)` or something similar.

[2016-02-24 04:15] yamartino commented on #18
Thanks @dodekeract. Yeah this is a known issue. It is unfortunately the only way to test for support on mobile.

The way that it work is it loops over the touch event 10 or 20 times really quickly while you press it to check if any force value was made. I have to do it like this because to check for support on devices like an iPhone 6 or lower that don't support force touch, they all return force

[2016-02-24 04:20] yamartino commented on #18
In fact I actually have to loop over the force value and not just check if it is greater than 0 but if it changes at all. This is because on some android devices they give back a "1" or "0.66666" or any other variations of force values passed back on an event. So what I actually do is get the first force value and loop over the event 10 or 20 times and if the force value changes during any of thos

[2016-02-24 04:22] dodekeract commented on #18
Didn't think that non-supporting devices would simply send 0. That's unfortunate. I can understand sending 0 or 1, but 0.6666? Wtf Android.

Maybe it's possible for the button/library to continue checking on every event? Not sure if that'd break your API though, since I haven't used it yet.

[2016-02-24 05:19] yamartino commented on #18
@dodekeract haha right? Super weird! Yeah that could be something to consider. It could check every time you press, or have an option to. Right now once it does the test it sets a global flag that I check for other presses on the page.

 My only possible issue with that is if someone has something that is called in the "unsupported" callback, that does something on the page, then it is suddenly su

[2016-03-01 16:14] dcorb commented on #5
Same here
![image](https://cloud.githubusercontent.com/assets/881333/13433172/99dc9870-dfc8-11e5-8d24-31ca5478d2ba.png)
Force quitting Safari didn't work

[2016-03-02 23:45] dcorb commented on #5
@yamartino still the same after rebooting. It says not supported. Safari 9.0.3
Tell me if I can do something to help you. I tried by my own in this codepen .. no luck neither.
http://codepen.io/dcorb/pen/WwvXOv

[2016-03-03 04:01] yamartino commented on #5
@dcorb thanks for the feedback and the testing you have done to help. I made a small jsfiddle: https://jsfiddle.net/2eLdv0qc/5/ Give it a test, when you are in safari and click the red box, does it give you an alert and console log? This example is basically directly off of Apple's documentation, I am just curious to see that it works at all before debugging pressure. Thanks for all of the help, t

[2016-03-05 09:10] dcorb commented on #5
Your test case in jsfiddle doesn't work for me. So there is little that pressurejs can do here I guess. I rebooted, still same.

[2016-03-06 04:34] yamartino commented on #5
@dcorb sorry to hear that. Yeah sounds like there may be a bug in safari for you. Not sure what is happening there. Bummer that safari is so buggy. I hope it gets better for pressure's and your sake. Thank you for all the help trying to work through this. Closing for now until someone else finds another safari bug ;)

[2016-03-06 04:36] yamartino commented on #18
This will stay as is for the time being. There is no good solution for this currently, though any input from anyone is greatly appreciated!

[2016-03-06 04:36] #18 closed

[2016-03-06 06:37] yamartino opened #19 "Shim Support"
Add an opt in option that would allow browsers that do not support Force or 3D touch to fall back to increasing a force pressure over time. For example go from 0 to 1 force value over the course of 1 second.

[2016-03-06 06:38] yamartino opened #20 "Add Pressure.config"
Add pressure config options so that you can configure pressure with site wide options.

[2016-03-06 19:32] yamartino opened #21 "Let Force Touch reach force of 1"
The force touch value only gets up to around 0.9997...... or 0.9995.... it varies. But 3d touch and the shim go from 0 to 1. Force touch should return 1 if the force is over 0.999 so that you can do a check for 1 as the max force value and every situation will go from 0 to 1.

[2016-03-06 19:58] #21 closed

[2016-03-07 00:56] yamartino commented on #19
This seems to be working, just need to test it in more browsers and devices first.

[2016-03-07 03:58] yamartino commented on #20
Working so far for the shim. Test on all config options.

[2016-03-07 03:59] yamartino commented on #19
Does not seem to be currently working for the jquery plugin.

[2016-03-08 04:46] #20 closed

[2016-03-08 04:49] yamartino opened #22 "Polyfill speed option"
If you are using the polyfill option, should you be able to set the speed of with the polyfill goes from 0 to 1. Currently it takes 1 second to go from 0 to 1. I am thinking right now that I will not allow this as an option, but if anyone thinks that it would be useful I would be happy to hear the argument for it :smile:

[2016-03-08 05:27] yamartino commented on #22
Should there be a flag of some sort to be able to determine if you are using native support or shim support? Not sure if I want to give that type of coarse control.

[2016-03-09 03:50] #19 closed

[2016-03-16 13:07] kylehalleman opened #25 "Return early in server environment"
Currently, the code supplies `false` if no window or document are found when initiating. However, the code still runs with window and document set to false, causing errors when trying to call methods on `false` that do not exist (e.g. "Cannot use 'in' operator to search for 'ontouchstart' in false").

This occurs when used in a React app where the initial render is server side, since even if Press

[2016-03-16 16:44] yamartino commented on #25
Thanks @kylehalleman! To be honest I have done little testing with pressure in npm, I will do some testing with that and try to come up with a fix!

[2016-03-18 06:49] NilsEckelt opened #26 "Mac Book Pro not working anymore"
It looks like Apple updated Safari or something happened and the library is not working anymore.
Website says, 'NOT supported' if clicked on test button in Safari.

[2016-03-18 18:28] yamartino commented on #26
@NilsEckelt what version of safari are you running?

[2016-03-18 18:35] yamartino commented on #26
@NilsEckelt I am running the most recent version of Safari v9.0.3 and it seems to be working for me. Check out this issue #5 and see if any of that information helps you troubleshoot. Keep me posted! :smile:

[2016-03-18 18:49] yamartino commented on #5
Anyone having issues with Safari on a 2015 of higher Macbook Pro, reference this thread!

[2016-03-18 18:50] yamartino commented on #26
@NilsEckelt first thing to try is restarting safari

[2016-03-19 03:11] yamartino commented on #25
@kylehalleman just pushed v1.0.1 that should fix this. Let me know if it works for you https://github.com/yamartino/pressure/releases/tag/v1.0.1

[2016-03-21 04:21] NorthMcCormick opened #29 "Cordova + WKWebView + UIWebView w/ pressure"
Looking into more of the cordova web view settings and seeing if there is anything I can find that would stop it, but it just returns the unsupported callback. I'd love to utilize this library in my hybrid app for a few things. Yours is the first library to include a callback like this so I wasn't sure if the other libs weren't working or if I was just crazy haha.

I'll do some digging and report

[2016-03-21 12:42] kylehalleman commented on #25
Just tested, server rendering works with no errors being thrown, thanks!

[2016-03-21 12:42] #25 closed

[2016-03-21 16:20] yamartino commented on #29
Hey @NorthMcCormick cool idea! Unfortunately from what I have noticed is that the UIWebView actually lags in support behind the actual Safari app. From my knowledge the web view does not support force values on touch events. That is why any other apps the use the web view like the chrome app do not support 3D touch.

I am going to double check on this but I am pretty sure that is why. Hopefully Ap

[2016-03-21 16:27] NorthMcCormick commented on #29
I was afraid of that. I do know that the iOS 4.0+ platform version with cordova is giving us the option for and updated UIWebView as well as WKWebKit. So if we can leave this open, once I am able to get my project updated, I can test this with the WKWebKit. The newest chrome I *think* is using the new WKWebView as well. I'll double check that and maybe use it as a test bed too.

[2016-03-21 16:29] NorthMcCormick commented on #29
I just confirmed, as of Chrome 48 (49 is the current production version) on iOS 9 and up pressureJS does work in the browser. So that's good news! Once I get the WKWebView working I can further test to see if it works without any further options.

[2016-03-21 17:04] yamartino commented on #29
Oh that is great news! Thanks for doing that research, that is really good to know. So it sounds like it is supported in the WKWebView but not the UIWebView. I would love to know if you switch to the WKWebView if it will work. To be honest I did not know there were two different types of embedable web views on iOS.

[2016-03-21 17:07] NorthMcCormick commented on #29
Yes, there are two, however the WKWebView has been bug-city for the last year or so. Cordova FINALLY has it supported with that 4.0 platform version.

In fact, it's been so buggy that (I'm pretty positive) iOS Safari didn't use WKWebView until iOS9, but it's been in the system since like iOS7, publicly available in iOS8.

Yeah cross my fingers it will work, it should open up some cool doors for hy

[2016-03-22 13:14] NilsEckelt commented on #26
Okay. It is working now. I just had to restart my MacBook. Who had thought of that. Thanks.

[2016-03-23 23:21] yanniks commented on #29
Apple introduced new JavaScript engines with iOS 4.3 . Since then, they were Safari only, 3rd party apps had to use the old classes, known as UIWebKit. Since iOS 8, WKWebKit is available which now offers the same classes Safari uses.

[2016-03-26 01:52] yamartino commented on #29
Thanks everyone for the input on this. I made two small iOS apps to test in the simulator, one running the UIWebView and one running the WKWebView. As we suspected pressure and 3D touch WORK in WKWebView but NOT in UIWebView. So if anyone is looking to use pressure (or any 3D touch in general) in an iOS web view use WKWebView and not UIWebView.

:white_check_mark: WKWebView
:x: UIWebView

[2016-03-26 01:55] yamartino commented on #26
@NilsEckelt glad to see you were able to fix it. It is such a bummer that Safari is so buggy on Mac :cry:

[2016-03-26 01:55] #26 closed

[2016-03-26 02:02] #22 closed

[2016-04-05 03:53] PhilipCrumpton opened #30 "Prevents scroll on touch device"
I cannot scroll when touching an element with a pressure listener.  Confirmed also on http://pressurejs.com/ on test elements though does not occur on red button (support check) at top.

In my case I'm using startDeepPress and endDeepPress and both cause this behavior.
______________
**Please provide information about the device you are seeing the issue on**
Device is a iPhone6S
Operating system i

[2016-04-05 04:23] yamartino commented on #30
@PhilipCrumpton as a test, try passing in the options ```{preventDefault: false}``` as the last parameter in the pressure block and see if that fixes the issue.

[code]

[2016-04-05 13:30] PhilipCrumpton commented on #30
That does resolve the issue, thank you!  If it is possible to preserve scroll and prevent other default events that would be a nice feature.

Thank you very much for your work on this library and your quick support.  Very appreciated!

[2016-04-05 14:14] yamartino commented on #30
@PhilipCrumpton I will play around with it and see if I can come up with a way to give the best of both worlds. However the preventDefault stuff might just work that way on iOS. For example on iOS the preventDefault is setting ```webkitTouchCallout = "none";``` and ```webkitUserSelect = "none";```. One of those is blocking scrolling but if you remove it it will stop using those fixes. I will do so

[2016-04-05 15:21] PhilipCrumpton commented on #30
No, in my case the force returned is consistent with the force applied.

Also, for clarification, from what I can tell iOS native behavior (without PressureJS) doesn't scroll in browser when a deep touch is applied.  It seems to scroll when force is less than 0.5 though that number MAY be different.

With PressureJS and preventDefault: true, I was unable to scroll when touching an element with a p

[2016-04-05 18:30] PhilipCrumpton commented on #30
Oh, and to answer your question about what I'm using it for, upcoming web design/dev projects I have a vision for subtle prompts to "click harder" for additional UI interaction.  Some just for visual fun but I'm hoping to find some useful interactions.  I'm excited about force interaction and hope it grows UI experience.

[2016-04-20 20:14] yamartino commented on #30
All this information is great @PhilipCrumpton. It excites me that other people are excited about this stuff like I am 👍 I would really love to see what you are working on and if you have something live I will put it up on the pressure documentation site as an example. DM me on Twitter @StuYam if you wanna chat about it.

[2016-05-10 09:27] yanniks opened #31 "Full support for Apple Pencil"
While it detects the pressure of the Apple Pencil if I don't use my finger at all, it does not work if I tap the button with my finger first. After that, the Pencils pressure detection is no longer supported until I refresh the page.

______________
**Please provide information about the device you are seeing the issue on**
Device is a 2016 iPad Pro 9,7"
Operating system is iOS 9.3.1
Browser is Mo

[2016-05-10 18:32] yamartino commented on #31
@yanniks unfortunately I do not own an iPad Pro or Apple Pencil. However I am trying to get my hands on one by weeks end to try to reproduce and fix the issue. Thanks for bringing this to my attention I'm excited about the future possibilities with the Apple Pencil.

I will report back soon!

[2016-05-24 18:08] yamartino commented on #31
@yanniks I did some reasearch. So yeah you are right. The screen on the iPad Pro is not force touch sensitive, it is just the pencil itself that can determine the force. So if you click on the screen with your finger before the pencil, it will set a flag on the page that there is no support for pressure and everything else will fail.

It does this for performance reasons so it doesn't have to do t

[2016-08-05 15:01] jalbam opened #33 "Firefox console warning: _mutating the [[Prototype]] of an object will cause your code to run very slowly"
Hello,

Thanks for this script. It is great!

Using Pressure.js with Firefox 47.0.1 64 bit on Windows 10, you can see this warning in the console:

_mutating the [[Prototype]] of an object will cause your code to run very slowly; instead create the object with the correct initial [[Prototype]] value using Object.create_

The function that is causing problems is the one called "_inherits". I guess

[2016-08-05 15:56] jalbam commented on #33
Sorry. I just noticed that we cannot relay on detecting "webkitmouseforcewillbegin" support because some browsers/devices with force touch or 3D touch will give false positives and false negatives. So I decided to load always the Pressure.js library.

[2016-08-06 14:54] stuyam commented on #33
@jalbam sorry to hear that is happening. It sounds like it has to do with how babel is creating hierarchy and using __proto__ instead of using normal prototypical inheritance the full way. I am going to look into if I can get babel to compile it differently.

Thanks for brining this to my attention I will look into it now 👍

[2016-08-14 01:56] jalbam commented on #33
You are welcome. Thanks to you for the great library.

[2016-09-15 15:04] stuyam opened #34 "iOS 10 does not work with pressure"
Safari 10 on iOS 10 added the ```touchforcechange``` event which will be called every time the force changes from 3D touch, [similarly to how the ```webkitmouseforcechanged``` event is called on macOS](https://developer.apple.com/library/content/releasenotes/General/WhatsNewInSafari/Articles/Safari_10_0.html).

Seeing that pressure does not work on iOS 10, I assume that the implementation that wor

[2016-09-15 15:04] #5 closed

[2016-09-15 15:05] #29 closed

[2016-09-15 15:10] stuyam commented on #33
If anyone knows anything about how babel compiles with the ```__proto_``` inheritance and if that can be changed to extend the prototype let me know. Would love to know if anyone has encountered this elsewhere and how it can be fixed.

[2016-09-15 16:30] stuyam opened #35 "Config to set the speed of the polyfil"
Make a configuration to set the speed that the polyfil goes from 0 to 1.

[2016-10-04 03:54] stuyam commented on #34
Support added in v2.0.0

[2016-10-04 03:54] #34 closed

[2016-10-04 03:57] stuyam commented on #31
Being added in v2.0.0, support is tested on every click or press instead of once per page. So the issue mentioned in this thread won't be an issue in the future because it can fail from a finger click but then succeeded from the pencil if you switch between the two.

[2016-10-04 03:57] #31 closed

[2016-10-05 03:21] stuyam commented on #35
Added in v2.0.0

[2016-10-05 03:21] #35 closed

[2016-10-05 03:26] stuyam opened #36 "When should the prevent Default be set?"
I originally set the preventDefault css and other things on first touch, but then most of the time that means the first click or touch will not have those things applied. Should prevent default be applies immediately?

I currently apply it on first click to first determine if pressure is supported or not first. But maybe that doesn't make the most sense and maybe it should be set immediately?

Als

[2016-10-05 05:56] stuyam commented on #36
https://github.com/stuyam/pressure/commit/75fd0603e2ef74349953b7f240605dc2eb32247b

[2016-10-05 05:56] #36 closed

[2016-10-05 06:05] stuyam commented on #30
@PhilipCrumpton this scrolling issue is fixed by this commit in v2.0.0 of pressure which is not out yet but will be coming out soon: https://github.com/stuyam/pressure/commit/75fd0603e2ef74349953b7f240605dc2eb32247b

The issue was with the actual "preventDefault()" method that was being called on the touch events. Now by default it only applies the css to prevent selection but will not break scrol

[2016-10-05 06:05] #30 closed

[2016-10-05 14:00] stuyam commented on #36
Leave ```event.preventDefault()``` up to the developer outside the library. The only thing I can tell it does it prevent the highlight box in Chrome on iOS. The peek & pop and other actions are prevented with applying css with the ```preventSelect``` options. https://github.com/stuyam/pressure/commit/2c11127ca0a3af1da991352a72a01a213dedecbe

[2016-10-05 14:02] stuyam commented on #30
See issue: https://github.com/stuyam/pressure/issues/36

[2016-10-10 22:39] stuyam opened #37 "If the polyfill is called once it won't go away even if supported"
If the polyfill is ever called on an element, say by clicking from a usb mouse, then when you switch back to the trackpad, it gets messed up and needs to cancel the polyfill.

[2016-10-11 05:03] stuyam opened #38 "Code clean up."
Need some general code clean up and pass through before I release.

[2016-10-11 05:04] stuyam opened #39 "Polyfill not working on iOS"
Polyfill is no longer working on iOS since I refactored it.

[2016-10-11 05:04] stuyam commented on #37
Fixed 👍

[2016-10-11 05:04] #37 closed

[2016-10-12 05:44] stuyam commented on #39
It is working now. However there is a bug with the polyfill. You can tap an item and it will run the polyfill even though your finger is not on it. This happens in both the new and legacy implementations.

[2016-10-12 05:47] stuyam opened #40 "Force Touch version running on Simulator"
All 3 test examples, including the "force touch only" run on the simulator on an iPhone 6s running OS 9.3. The "force touch only" example should fail. Does this have to do with the simulator itself?

[2016-10-12 05:49] stuyam opened #41 "startDeepPress is being called in the simulator but does not change the examples background color"
startDeepPress is being called in the simulator but does not change the examples background color. On iPhone 6s running iOS 9.3 in the simulator. Might be an issue with the simulator itself.

[2016-10-14 21:25] #39 closed

[2016-10-14 21:26] stuyam opened #42 "Polyfill runs all the way with just a tap on mobile"
You can tap an element on mobile and it will run the polyfill even though your finger is not on it. Need to make sure when your finger comes off it is being cancelled fully.

[2016-10-15 05:10] stuyam opened #43 "Make sure all links are https on docs page"
Now that pressurejs.com forces https with cloudflare, make sure there are no other reasources that link unsecured.

[2016-10-17 03:36] stuyam opened #44 "Shorten "testing" time for touchforcechange fallback"
The polyfill should not need to be delayed 100 milliseconds to test if the ```touchforcechange``` event has run. Also may be able to shorten legacy support tests but need to experiment with that.

[2016-10-18 03:08] stuyam commented on #42
Fixed in commit: https://github.com/stuyam/pressure/commit/cd01fab66d5e2902c048d863315a5583b9456d65

[2016-10-18 03:08] #42 closed

[2016-10-18 03:16] #40 closed

[2016-10-18 03:17] #41 closed

[2016-10-18 03:53] #44 closed

[2016-10-18 04:02] stuyam commented on #33
This doesn't seem to be throwing an error in the latest versions of Firefox 49 and since this is an issue with babel and the way they set legacy support for inheritance, it is not a big issues for me. Anyone that has this issue in the future feel free to bring in back up, just doesn't seem to be a priority.

[2016-10-18 04:02] #33 closed

[2016-10-18 04:07] stuyam opened #45 "Should the polyfill be turned on by default in v2.0.0?"
Should the polyfill be the default when a device does not have 3D Touch or Force Touch support? It may be sense to have it on by default but I am curious if anyone else has any opinions about it...?

[2016-10-18 04:20] #43 closed

[2016-10-18 04:22] stuyam commented on #38
Have taken many many passes through the code base and cleaned up and separated out things as nicely as I could.

[2016-10-18 04:22] #38 closed

[2016-10-18 04:27] stuyam opened #46 "Testing prior to v2.0.0 release"
**Mac**
Safari: ✅
Chrome: ✅
Firefox: ✅

_(I have an iPhone 7 so all other device test will be on the simulator which does support 3D Touch)_
**iOS 9**
iPhone 6:
    Safari: ✅
iPhone 6s:
    Safari: ✅

**iOS 10**
iPhone 6:
    Safari: ✅
iPhone 6s:
    Safari: ✅
iPhone 7:
    Safari: ✅
    Chrome: ✅

[2016-10-18 22:10] stuyam opened #47 "Consider consolidating the Element and Adapter classes"
It seems like these could be consolidated into one or more concise classes that do less copying of properties etc.

[2016-10-19 00:11] stuyam commented on #45
polyfill is now on by default in v2.0.0 https://github.com/stuyam/pressure/commit/261dfd3ad834deac9f1fd210ca0274f88bc76ed8

[2016-10-19 00:11] #45 closed

[2016-10-19 01:32] stuyam commented on #47
Did some consolidation

[2016-10-19 01:32] #47 closed

[2016-10-19 02:12] #46 closed

[2016-10-19 20:54] henrahmagix opened #50 "Light touch triggers timing fallback when it should track pressure"
When I touch and hold lightly enough on the demos, the timing fallback triggers and a message shows saying force touch isn't supported, when it should be using force touch. Applying pressure then glitches between the pressure value and timing value.

I can't remember if it did that in the previous version, sorry =)

---

Device is an iPhone 6S
Operating system is iOS 10
Browser is Chrome

[2016-10-21 00:38] stuyam commented on #50
Thanks for reporting this @henrahmagix, I am gonna look into this this weekend!

[2016-10-21 03:32] lucdetellis commented on #50
+1, having this issue as well.
macOS 10.12, Safari

[2016-10-24 02:05] stuyam commented on #50
This should be the fixed on both iOS and MacOS. If a touch happens lightly on either platform the unsupported or polyfill may be called, that part is a little of of my control (unless someone comes up with a better solution). But now, even if unsupported or the polyfill is called and force is detected at any point during that touch/press, it will cancel the polyfill and native support will kick in

[2016-10-24 02:23] stuyam commented on #50
@henrahmagix and @lucdetellis I published a fix and update the docs site. Let me know if it is still an issue 👍 Else I will close this issue in the coming days.

[2016-10-24 02:29] lucdetellis commented on #50
Looks like it's fixed for Safari on both macOS and iOS!
The only thing is that on my Mac I still get the "Pressure.js has fallen back to the polyfill" message even though it's working properly.

[2016-10-24 08:29] henrahmagix commented on #50
Yep same: fixed but error message still shows :)

[2016-10-24 20:13] stuyam commented on #50
Does that message show up on every press or just when you tap lightly?

[2016-10-24 21:51] henrahmagix commented on #50
Just tap lightly and isn't removed when adding pressure

[2016-11-03 10:58] lales12 opened #53 "Jquery pressure"
I think  jquery.pressure.js has a misspell on the last line, this method return Jquery.pressure I think must be jQuery.pressure.

______________
**Please provide information about the device you are seeing the issue on**
I found this error on the last release. you can see the error on the console when try to include this file

[2016-11-04 18:29] zetlen commented on #53
Whoops! This is absolutely due to my PR, sorry @lales12. I forgot to add an exports configuration. Stand by please.

[2016-11-04 19:49] stuyam commented on #53
Thanks for the help @zetlen, this was fixed in the newest version v2.0.3

[2016-11-04 19:49] #53 closed

[2016-11-16 19:49] introrse commented on #50
I'm still seeing this issue on my iphone 6S both with examples on pressurejs.com as well as with my own code using 2.0.3.  I get the fallback and no force messages at all.

The same 6S device exhibits 3D touch behavior just fine with the (pressure.js-using) V-day card from Henry Blyth.

[2016-11-17 02:37] stuyam commented on #50
@introrse can you clarify what you mean by "I get the fallback and no force messages at all."

[2016-11-27 17:08] vorthess opened #56 "Support for decreasing change() event"
change() is triggering only increasing, while native support includes force change both ways.
Is it possible to implement?

[2016-11-28 20:11] stuyam commented on #56
Thanks for the feedback @vorthess!

I have thought of this before, kept deciding it wasn't necessary but I have seen a few examples where people implement it themselves so maybe it would be useful if it was prebuilt.

Maybe have like a "polyfillSpeedUp" and "polyfillSpeedDown" config option that would default to 1 second.

I guess I would have to think about how it would work in terms of enabling

[2016-11-29 07:22] henrahmagix commented on #56
Yeah, that would be a nice thing to come prebuilt. `polyfillSpeedUp` and `polyfillSpeedDown` options make sense :+1:

I think it should be off by default, so the effect of lifting your finger off the screen is the same for both supported and unsupported: the thing snaps back to its default state.

Maybe "off" is simply `polyfillSpeedDown: 0` to reduce configuration code?

[2016-11-29 23:07] stuyam commented on #56
@henrahmagix smart idea with setting the default of ```polyfillSpeedDown: 0``` I like that.

@vorthess, curious about what your application of this would be?

[2016-12-06 21:33] vorthess commented on #56
@stuyam Im creating internal time tracking tool for my company, hybrid app in meteor, react, electron. Im using iphone 7 and I love 3d touch, so I want to implement few UI features ;)

[2017-02-02 21:38] #50 closed

[2017-02-12 12:57] Legohuman opened #59 "Error on handling multi touch events"
I have the following error when I try to zoom with pinch, swipe or make any other multi touch event on element that Pressure is applied to.

TypeError: undefined is not an object (evaluating 'this.selectTouch(e).force')

in line this._changePress(this.selectTouch(e).force, e))

It`s probably in pressure/dist/pressure.js:316
or pressure/src/adapters/adapter_3d_touch.js:25

The code that uses Pressu

[2017-02-12 13:09] Legohuman commented on #59
The root of issue is likely in the line
if (event.touches[i].target === this.el)  // /pressure/dist/pressure.js:377

In my issue target of touch event is child element of slotsContainer

[2017-02-15 17:05] stuyam commented on #56
Haven't had time to work on this yet. Would love help on this is people are willing 😄

[2017-02-15 17:09] stuyam commented on #59
Hmm, looks like I should be checking for that and return or something if there is no touches object on an event. Will look into it and get back to you. Thank you for reporting this 😄

[2017-02-24 17:18] bhaux opened #60 "Considering Pointer Events Pressure for pressure in Chrome"
Hi Stuart! We've been looking for a solution to make reading pressure across browsers and platforms less of a pain than it currently is and this is exactly it! Thank you for this fantastic library!

Now to our question/issue:
We're working with wacoms mostly and it seems that since Chrome 55/56 pointer events are now supported by default, delivering pressure from http://caniuse.com/#feat=pointer (

[2017-02-26 01:00] stuyam commented on #60
@bhaux awesome! Thank you for the information I did not know that it was started to be included in browsers that is great news.

I also did not know that it worked with thinks like Wacom tablets that is awesome fantastic! Luckily I have one and using the link you posted I was able to see the pressure values with the Wacom. (Side note I actually didn't know that 'pressure' was the name of the point

[2017-02-26 01:01] stuyam commented on #60
@bhaux curious what you are using wacom tablets on the web for. Sounds interesting!

[2017-02-26 03:12] stuyam commented on #60
I have successfully been able to get pointer events to work in chrome and opera on mac with my wacom tablet.

The firefox issue it looks like I can not get around. There is a "windows only" fix but I am not sure how that works.

As for the chrome issues of being at 0 and 0.5 force I was able to get around that by checking if the pressure values is not exactly 0 nor exactly 0.5 because that values

[2017-02-26 03:36] bhaux commented on #60
those are great news! I'll pm you more details on our work : )

[2017-02-26 17:17] stuyam commented on #56
Coming soon in version 2.1.0 of pressure.

[2017-02-26 17:17] stuyam commented on #60
Coming soon in version 2.1.0 of pressure.

[2017-02-26 17:48] stuyam commented on #59
@Legohuman do you have more information on this bug? Do you have a codepen or something that could be tested?

I have tried a few scenarios and have not been able to reproduce the error that you were encountering.

[2017-02-26 20:15] stuyam commented on #60
Released in v2.1.0: https://github.com/stuyam/pressure/releases/tag/v2.1.0

Thanks @bhaux for the awesome suggestion, it future proofs pressure! I didn't know support had started to be included in browsers for Pointer Events 🎉

[2017-02-26 20:15] #60 closed

[2017-02-26 20:16] stuyam commented on #56
Released in v2.1.0: https://github.com/stuyam/pressure/releases/tag/v2.1.0
Hope you find in useful! 😄

[2017-02-26 20:16] #56 closed

[2017-02-26 20:23] bhaux commented on #60
Thank you Stuart! You Rock : )

[2017-02-26 20:32] Legohuman commented on #59
Here you are. https://jsfiddle.net/05t7f6ja/2/
Scenario is simple. Just pinch over the slots to zoom in or zoom out.

[2017-02-26 21:29] stuyam commented on #59
Awesome @Legohuman thank you for the example. Update to the most recent v2.1.0, it is fixed in that version. No more errors.

https://jsfiddle.net/yamartino/05t7f6ja/3/

However when you try to do multitouch with child elements like that it also doesn't give a pressure reading because the element you are clicking isn't the element it is attached to. But because of bubbling it does trigger pressure

[2017-02-26 22:17] Legohuman commented on #59
Thank you! Now it works nice, so I`m closing the issue.

[2017-02-26 22:17] #59 closed

[2017-03-10 16:16] davidshimjs opened #64 "Where is the supportLegacyTest function?"
I have found an error "this.supportLegacyTest is not a function.".
I can't find definition of supportLegacyTest.

[2017-03-10 16:47] davidshimjs commented on #64
I have fixed this issue on https://github.com/stuyam/pressure/pull/63

[2017-03-28 02:14] stuyam commented on #64
Thanks for this ⚡️

[2017-03-28 02:14] #64 closed

[2017-03-28 02:15] stuyam commented on #64
Fixed in v2.1.1

[2017-04-20 15:00] stuyam opened #65 "Android pointer event bug"
@davidshimjs I am moving the conversation of the Android bug to a proper issues.

@davidshimjs

I am not sure that I follow. In theory the android devices that do not support pointer event it will skip trying to use pointer events on them. If not then the way we check for those events is wrong.

Can you elaborate on the error?

[2017-07-10 05:14] stephaneAG opened #66 "iPhone 7 - iOS 10.3.2 - touchforcechanged event never fired in standalone mode"
Related Stack Overflow question:
https://stackoverflow.com/questions/45003908/iphone-7-ios-10-3-2-touchforcechange-event-never-fired

In shorts: as in the title: the 'touchforcechanged' event is never fired when a website saved to the springboard is launched in standalone mode :/

-> I first thought the issue was coming from your lib, but after re-implementing things myself without any polyfill, i

[2017-07-11 19:04] stuyam commented on #66
@stephaneAG thanks for reporting this. Sounds like an interesting bug. I will try to reproduce and see if there is anything more that we can find out about this issue.
😄

[2017-07-11 19:06] stuyam commented on #65
Closing until someone reopens with any more info...

[2017-07-11 19:06] #65 closed

[2017-07-11 19:46] stuyam commented on #66
So I figured it out with a little bit of testing. So there are two conflicting web views on iOS right now. There is UIWebView and WKWebView. UIWebView is the older version and is being phased out. I have seen people run into this before and the old UIWebView does not support 3D Touch events.

I did a test to see if when saving you add a website to your home screen it will open in a UIWebView and s

[2017-07-17 06:16] stephaneAG commented on #66
Hi there !

Sorry for the delay in my answer, things have been kinda busy these days :/
;p

I wanted to thanks you VERY MUCH ( :D ) for your answer, I'm gonna dig this
& see how this goes ..

btw: if it could help you in any way, I also stumbled upon the following:
https://mislavjavor.github.io/2016-03-08/WKWebView-advanced-tutorial/

:)

=> Oh ! and also, if you were wondering if we can press ima

[2017-07-18 10:32] quizzy opened #67 "On some android devices 'force' is being returned as 1 only in change method."
On some android devices, the force parameter for the change method always returns as 1 and 1 only - has this happened to anyone else? (devices tested were Sony Xperia Android 6.0.1 and a Samsung device). I also tried testing on a Wileyfox Swift 2 - android - chrome, which doesn't seem to have triggered at all.

I'm unable to get direct access to these devices right now, but if you need more inform

[2017-07-18 14:59] stuyam commented on #65
Related #67

[2017-07-18 15:00] stuyam commented on #67
Added some related references where similar conversations have been had before but not yet resolved. Thanks for posting this issue. 😄

[2017-07-18 15:03] stuyam commented on #66
Yeah all of this things have to do with it being in the old UIWebView and not the new WKWebView unfortunately. Closing for now as it is out of my control 😢

[2017-07-18 15:03] #66 closed

[2017-07-30 16:40] jespertheend commented on #5
I was having issues with force touch on the trackpad not working. Turned out I had the 'Force Click and haptic feedback' disabled in system preferences.
<img width="334" alt="screen shot 2017-07-30 at 17 40 12" src="https://user-images.githubusercontent.com/2737650/28755247-3967efcc-754e-11e7-952e-b1fba34491d8.png">

[2017-08-08 08:20] developerbh opened #68 "for some reason it is not working"
hi .. first of all I would like to thank you for your work .. looks great in the examples but for some reason non of these working with me .. jquery-3.1.1
[code]

______________
**Please provide information about the device you are seeing the issue on**
Tested on Chrome latest version, Firefox latest version
Safari iPhone 7 plus , chrome on 7plus

[2017-08-09 22:06] #68 closed

[2017-08-10 02:56] stuyam commented on #68
Hey @abdullascript sorry for the late response. I saw that you closed the issue, did you get it working? If so how did you fix it?

[2017-08-10 03:28] abdullascript commented on #68
@stuyam it's ok bro, actually it was a logical error

I call/assign/set Pressure right after $(document) ready when I should do it after $.ajax success

It works perfectly on iOS :)

P.S take a look at your twitter account DM

[2017-08-24 18:47] Nythepegasus opened #69 "50-100% being thought as 0-50%"
I assume this is not very important, but I still want to say something just in case. Sometimes when you push the touchpad all the way down, and then lightly release, it'll start thinking pushing all the way down is only 50% This happens very rarely..
______________
**Please provide information about the device you are seeing the issue on**
Device is a Early 2015 Macbook Pro
Operating system is mac

[2017-08-30 15:19] stuyam commented on #69
That is very strange. It almost sounds like it may be an Apple bug but not sure. They have had some weird bugs with the trackpad and safari but I will try to reproduce and see what I can find out! 😄

[2017-09-02 07:06] dalisoft commented on #67
This issue should be resolved. When use 3D touch in Android Chrome works, but target all changing from 0 to 1 in just less than 1sec. Polyfill time also not works

[2017-09-02 07:07] dalisoft commented on #67
I have real access devicd. Or you can use Browserstack. I am use service as free. Free for open source projects as Pressurejs is free and open source

[2017-09-04 19:53] dalisoft opened #70 "On Android it not works as excepted"
On stock browser it not works at all, on Chrome mobile target changes from 0 to 1 immediately. But my js (alpha) polyfills best on these browsers but when comes to real 3d touch my js cant handle it.

http://tweenjs.github.io/es6-tween/forceify/

______________
**Please provide information about the device you are seeing the issue on**
Device is a Samsung Galaxy Note2
Operating system is Android 4

[2017-09-05 15:55] stuyam commented on #67
I will have to check with Browserstack, I have access to it. However last I checked there wasn't an option to adjust the force applied to the a screen through Browserstack.

[2017-09-05 17:26] dalisoft commented on #67
Pressurejs works best on real 3D touch supported device. I recommend Browserstack for android testing

[2017-09-05 17:27] dalisoft commented on #70
#67

[2017-09-05 17:28] #70 closed

[2017-09-14 03:31] rubcuadra opened #71 "Android devices Polyfill not working"
On some Android devices it goes from 0 to 1 just by touching it, fixed it on my project by adding the only with "touch" if I found out that the user is using a mobile device, I believe that the android phone is crashing with the pointer event, if you try the widgets on the pressure.js page you will find that "Targets All" and "Targets ONLY POINTER events" have this weird effect from 0 to 1 but on

[2017-10-13 16:17] stuyam commented on #71
Duplicate: #67

[2017-10-13 16:19] stuyam commented on #69
Closing unless there is more evidence of this and can be reproduced.

[2017-10-13 16:19] #69 closed

[2017-11-16 17:15] stuyam commented on #67
It's been too long but Im circling back and going to get this fixed. Was able to reproduce.

[2017-11-16 17:17] stuyam commented on #71
Closing and refer to #67

[2017-11-16 17:17] #71 closed

[2017-11-16 17:36] dalisoft commented on #67
I there to test

[2017-11-16 17:38] dalisoft commented on #67
I need this plug-in, but i need cross-device support, even in Chrome

[2017-11-29 22:17] #67 closed

[2017-11-29 22:40] stuyam commented on #67
This is fixed in the latest release v2.1.2 https://github.com/stuyam/pressure/releases/tag/v2.1.2
Give it a try 👍

[2018-03-12 16:05] MickL opened #73 "How to detect if pressure.js is already binded to an element?"
I want to prevent binding pressure.js to an element that already has pressure.js. How may i detect that?

Something like:

[code]

[2018-03-21 15:51] stuyam commented on #73
Hi @MickL,
There currently isn't a way I can think of to test if an element is bound to pressure. It seems like it would make sense to do so.

For now you could so something like add a property on any element that has been bound to pressure that you can check later. For example:
[code]

But I will look into how we could provide this as a feature. If anyone has any ideas I'm all ears.

[2018-03-21 16:06] MickL commented on #73
Yes thanks i did it by adding a class. Feature would be nice but it is not a major issue.

[2018-03-24 07:28] dantman opened #74 "Pressure JS doesn't handle ZTE correctly"
I have a ZTE Z957, I think it's also known as the 2016 ZTE Grand X 4.
Operating system is Android 6.0.1
Browser is Chrome 65

- When I visit https://pressurejs.com/ the page doesn't say that it has fallen back to the polyfill.
- The pressure value does not change over time, instead I get a number when I touch and it resets to 0 when I release or slide my finger a millimetre away.
- I do get differ

[2018-03-27 15:29] stuyam commented on #74
Thanks for the feedback @dantman !
There are a few things happening here. The mouse and touch events are working properly. The mouse one is only targeting mouse devices, which you don't have, so it is saying unsupported. The touch one is seeing you are targeting touch events but don't have touch force value so it is reverting to the polyfill.

The target all and pointer are targeting the pointer e

[2018-04-05 18:54] #74 closed

[2018-04-05 18:54] #73 closed

[2018-04-23 09:04] SteveEdson opened #75 "Support multiple `only` values / support `except` option"
We have an issue with the pointer mode on some android devices (force is reported greater than 1, up to values such as 31 etc).

As a result, we want to disable this event and use the polyfill. However, we still want to support mouse and touch. Currently, there doesn't seem to be a way to do this, I'd like for one of the two options to be implemented if possible:

[code]

or

[code]

Thanks.

[2018-08-14 16:57] MarkSmit opened #76 "Not going to 1 when 3D Touch is set to “Firm”"
When you set 3D Touch to “Firm” in settings > general > accessibility > 3D Touch it won’t go to 1 it stucks on 0.833333...

______________
Device is a 2017 iPhone X
Operating system is iOS 11.4.1
Browser is Safari on iOS 11.4.1

[2018-08-14 18:16] stuyam commented on #76
Does it continue if you restart your phone? When you change the settings from Firm to Regular to Light does it make a difference? I have tried a number of those things and have not been able to reproduce what you are experiencing.

[2018-08-15 11:14] MarkSmit commented on #76
On Light and Regular it is functioning properly. Maybe it is a bug, I will report it to Apple.

[2018-08-15 18:57] stuyam commented on #76
Cool thanks 👍

[2018-08-15 18:57] #76 closed

[2019-01-18 20:39] garrettmaring opened #77 "How do you remove a Pressure listener from an element?"
_add issue description here_

______________
**Please provide information about the device you are seeing the issue on**
Device is a [year] [device] [model]
Operating system is [OS] [version]
Browser is [browser] [version]

[2019-01-25 16:06] stuyam commented on #77
Currently we don't support a way of doing this out of the box. For this to work we would need to add something like an `unbindEvents()` which would use the `removeEventListener` method which would allow you to call in some way to unbind the binded events.

Open to pull requests on this, will take a look when I get a chance. Not sure if there is a way you can do it right now without the implementat

[2019-01-27 17:38] darkyen commented on #77
Is all the state etc sync'd on the dom node?

[2019-01-28 16:32] stuyam commented on #77
The only thing on the dom node will be the added event listeners. What did you have in mind @darkyen?

[2019-05-01 21:06] knoxcard opened #78 "question - pressure vs duration"
Is this really measuring pressure? or is it simpy duration?

harder the press = longer the duration

[2019-05-02 00:13] stuyam commented on #78
@knoxcard is depends on the device and browser you are using. The hardware and browser both need to support giving force values from the trackpad or screen. I they don't support it then pressure.js falls back to using duration. We refer to the duration settings as the Polyfill since it is fallback support: https://github.com/stuyam/pressure#polyfill-speed-up

[2019-05-02 00:13] #78 closed

[2019-05-05 13:15] imagicalFantasy opened #79 "No pressure for graphic tablets"
It seem that graphic tablet won't provide pressure information to the browser.
I open an issue on  Chromium project to ask to add support.

Please star the issue : https://bugs.chromium.org/p/chromium/issues/detail?id=959629&can=2&q=pointerEvent.pressure

[2019-06-20 12:27] sbormann commented on #67
I'm sorry, but it is still not working for some android-devices. Just tested it on Galaxy S7 via Browserstack and "All" and "Pointer event" jumps directly from zero to 1.

[2019-06-20 12:58] dalisoft commented on #67
@sbormann look at forceify.js.org

[2019-10-02 10:13] zanderp25 opened #81 "Force Touch not working properly Safari 13"
When I use force touch, it reverts to polyfill. When I go to the 'Pressure Change' section on the website, the "Targets All" bar uses polyfill, but the 'Force Touch' bar works as it should.

Edit: It still does not work, probably has something to do with the new Safari 13 update

Edit 2: Still does not work in Safari 14
______________
Device: 2017 Apple MacBook Pro
OS: macOS Mojave 10.14.6 - macOS

[2019-11-19 09:09] urikjaro opened #82 "Force value out of range"
Hi,
During our test we have received values above 1.0. The user agent string is:
"Mozilla/5.0 (Linux; Android 9; EML-L29 Build/HUAWEIEML-L29; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/77.0.3865.92 Mobile Safari/537.36"
which would point to Huawei P20.
Unfortunately I do not have more info, since this was only intercepted on our backend, without the access to the device.

[2019-11-19 09:45] Lonzak commented on #82
We have the same problem.
Is there a way to get the minimum and maximum values? In that case we could remap the range back to 0...1.

[2019-12-12 13:37] MickL commented on #81
Same here on macOS Catalina. I tested Chrome, Safari and Firefox all show "Your device does not support force touch or 3d touch so Pressure.js has fallen back to the polyfill.".

**Safari**
Targets All -> Not working
Targets ONLY Force Touch (mouse) -> Working

**Chrome**
Targets All -> Not working
Targets ONLY Force Touch (mouse) -> Not working

**Firefox**
Targets All -> Not working
Targets ONLY

[2020-01-27 07:40] jiejingta opened #83 "why my wacom tablet pressure force always from 0 to 1, not real pressure"
why my wacom tablet pressure force always from 0 to 1, not real pressure.
when I test my wacom on official website https://pressurejs.com/documentation.html#options
if I press the #polyfill-example  with any pressure, the force value always plus to 1.

______________
**Please provide information about the device you are seeing the issue on**
Device is a wacom PTK 650
Operating system is windows10

[2020-01-27 07:49] #83 closed

[2020-04-24 11:27] rostamiani opened #84 "Pressure detection is not working using FIrefox 75"
Pressure detection is not working using FIrefox 75
I just tested official example page with Firefox 75 + Genius i405X tablet in Windows 10. It runs as polyfill.

[2020-05-29 14:15] oseph opened #85 "Safari on macOS not responding to pressure input"
Firstly, thanks for pressure.js! This is a great and super handy library.

I'm working on a very basic drawing app which successfully detects pressure input in Firefox and Safari on iOS when using Apple Pencil, but it does not respond to pressure input when using Safari on macOS.

From what I can tell from the examples on the main Pressurejs.com page, pressure input is defaulting to polyfill when

[2020-06-21 16:19] niikoo opened #86 "Suggestion: Add Chrome OS as compatible"
Pointer pressure works on the chromebook's touch screen. It is not listed as one of the supported browsers or systems on https://pressurejs.com/

______________
Device is a Acer Chromebook R13
Operating system is ChromeOS 84
Browser is Chrome 84

[2020-09-16 21:21] zehle commented on #81
I'm just here to say that I get the same result. I'm on a Macbook Pro. "_Targets All_" falls back to polyfill while "_Targets ONLY Force Touch (mouse)_" works as expected. Safari 13.1.2

[2020-09-29 10:39] theLMGN commented on #81
Still having this issue. Pressure still works on iOS though.

[2020-09-29 20:40] zanderp25 commented on #81
Update: I have updated to Safari 14.0 for macOS and it still doesn't work

[2020-09-30 03:06] stuyam commented on #85
Duplicate: #81

[2020-09-30 04:11] #81 closed

[2020-09-30 04:50] stuyam commented on #85
Released: https://github.com/stuyam/pressure/releases/tag/v2.2.0

[2020-09-30 04:50] #85 closed

[2020-09-30 04:50] stuyam commented on #81
Released in: https://github.com/stuyam/pressure/releases/tag/v2.2.0

[2020-10-01 06:19] melvinroest commented on #79
Weird, I got pressure on a Wacom Intuos. I'm not sure if I did it with this library, but check doodledocs.com and see if the pressure works there. The code is open source on https://github.com/melvinroest/doodledocs

[2020-11-14 18:32] imabot2 opened #92 "Wacom tablet with Chrome 86 on Ubuntu 20.04"
It seems that pressure.js is not compatible with Chrome on Ubuntu. Here is my detailed configuration:

- Chrome 86.0.4240.75 (Build officiel) (64 bits)
- Ubuntu 20.04 (5.4.0-53-generic)
- Wacom INTUOS 4 (properly configured, pressure works fine in other softwares like Krita)

I also tried with Firefox 82.0.3: same result.

[2021-02-18 08:44] zechlov opened #94 "this plug-in failed on almost all devices"
_add issue description here_
it get back wrong pressure info from almost all browsers.
______________
**Please provide information about the device you are seeing the issue on**
Device is a [2021.2.18] [device] [model]
Operating system is [OS] [version]
Browser is [browser] [version]

[2021-02-19 02:58] zhy531017132 commented on #94
The demo on the official website can't be displayed correctly!

[2021-02-20 13:26] ezadoo opened #95 "iPhone X not working"
I‘ve noticed that pressure.js is not working on my iPhone X, but on other examples with simply creating an eventlistener on ‚touchforcechange‘ is working on my phone. So I assume there must be an issue in this framework.
______________
**Please provide information about the device you are seeing the issue on**
Device is a iPhone X
Operating system is iOS 14.2
Browser is Mobile Safari

[2021-03-03 14:02] santolucito commented on #94
The plugin works fine for me on a Samsung galaxy - or at least it seems like the right pressure values. What do you mean when you say "wrong pressure info"?

[2021-03-27 23:45] christosnc opened #96 "Performance issue for "pointermove" events"
Hello 👋,

Some browser events (such as **pointermove**) can fire faster than the frame-rate of the browser. This causes issues, because **the browser cannot keep up**. Although some browsers automatically **"throttle"** such events to run at 60fps, there are some bugs / inconsistencies.

For example, on Chrome, when the Dev-tools are open, the throttling doesn't work.
To reproduce, open the Dev-to

[2021-05-03 16:54] Pranav2612000 commented on #77
Any hacks for doing this?

[2021-05-13 12:29] johannb75 opened #99 "Typescript support"
Would be really cool to have typescript types !

[2021-09-10 10:39] numerized commented on #94
This plugin and all techniques I can find online don't work on newer iOS devices, apparently they removed 3d touch screens and now have haptic touch screen which is not returning any value at touchforcechanged or Touch.force events.

[2021-11-29 14:24] ronaldjeremy opened #102 "Doesn't work on any device?"
I have tried visiting the pressure.js homepage and from 3 different touch devices and none of them results in the Pressure Change example working (they all use polyfill).

Surface Pro 7 with Chrome 96.0.4664.45
Apple iPad Pro 4th gen with Safari
Samsung Galaxy S21 Ultra with Chrome 96.0.4664.45

Just to test, the Surface Pen did work on the Surface and the S-pen worked on the Galaxy (but the apple

[2021-11-29 14:28] JonathanTreffler commented on #102
Touchscreens are not capable of detecting how hard you press them. Pressure gets measured by the pens. Non existing data can not be collected by the os, browser and this plugin.

[2022-10-02 00:29] Miintaged opened #105 "iPhone Waage"

[2022-10-07 14:57] PhonicUK opened #106 "Integration with KnockoutJS?"
How can I integrate this with KnockoutJS so that newly created elements via a template get registered and so I can use the force-push event in Knockout binding?

[2022-10-07 15:50] PhonicUK commented on #106
I only implemented deepStartPress but here is a nice way to use it with KO bindings:

[code]

Then you can do

[code]

[2022-10-07 15:50] #106 closed, assigned to nobody

[2022-10-28 13:24] mg2485 opened #107 "Apple Magic Trackpad 2 on iPad only uses polyfill"
I would like to track pressure from an Apple Magic Trackpad 2 connected to an iPad (Safari as browser). Unfortunately, the pressure.js library only works as a function of time instead of force. Do you have any clue what might be going on?
______________
**Please provide information about the device you are seeing the issue on**
Device is a [2022] [Apple Magic Trackpad 2]
Operating system is [iPadO